.table{
    padding : 10px 20px;
    tr{
        width: 100%;
        th{
            margin: 0;
            padding: 0.5rem;
            border-bottom: 1px solid #ededed;
            border-right: 1px solid #ededed;
            position: relative;
        }
        .st-bg{
            background: #BAD800;
        }
    }

}

table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
}